{% extends 'navbar.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis cumque quibusdam iusto omnis animi voluptatibus numquam minus, praesentium
     cupiditate necessitatibus eius. Nihil at voluptate obcaecati pariatur dolores deleniti praesentium, ea porro doloremque deserunt est eius voluptatum
      qui nobis excepturi provident incidunt labore voluptates vel? Ducimus rerum consequatur officiis atque rem corrupti quasi est doloribus maiores quas? 
      Quos odit voluptatum fugiat? Magnam obcaecati perspiciatis hic ducimus ut consequatur veritatis, aspernatur in odio soluta! Suscipit nam quos rem in quod!
       Suscipit iusto quaerat asperiores praesentium distinctio maxime ex, nobis id similique omnis nam quisquam doloremque vel dolores labore dicta, velit assumenda a.</p>

{% endblock %}
